#  App Configuration
TZ=UTC
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development

#  Database (PostgreSQL)
DB_CONNECTION=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=cdl-app

#  Admin Config
ADMIN_KEY=

#  Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#  Mail (SMTP)
MAIL_DRIVER=smtp
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_FROM_NAME="CDL Exam App"
MAIL_FROM_ADDRESS=

# Android App Config
ANDROID_PACKAGE_NAME=com.regularomar.cdlExam.cdl_flutter

# Google In-App Purchase Verification
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
